@charset "UTF-8";
:root {
  --color-baseline-grid: hsla(200, 100%, 75%, .25);
  --color-dark: hsl(0, 10%, 10%);
  --color-light: hsl(0, 100%, 100%);
  --color-light-gray: hsl(0, 0%, 65%);
  --color-primary-70: hsl(10, 95%, 70%);
  --color-primary-90: hsl(10, 95%, 90%);
  --color-primary-80: hsl(10, 95%, 80%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  background-image: repeating-linear-gradient(transparent 0em, transparent 0.4375em, var(--color-baseline-grid) 0.4375em, var(--color-baseline-grid) 0.5em);
  color: var(--color-light);
  display: grid;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  row-gap: 4rem;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  color: inherit;
  font-size: 0.875rem;
  text-underline-position: under;
}

p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.05rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.025rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.025rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h4 {
  font-size: 1rem;
  letter-spacing: -0.0125rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h5 {
  font-size: 0.75rem;
  letter-spacing: normal;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h6 {
  font-size: 0.625rem;
  letter-spacing: normal;
  line-height: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

#hero__content {
  margin: auto;
  max-width: 50ch;
}

#nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: center;
}

.btn {
  align-items: center;
  border: 0.125rem solid;
  border-radius: 2rem;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 0.75rem;
  height: 2rem;
  justify-content: center;
  letter-spacing: 0.0625rem;
  min-width: 10rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 350ms;
}

.btn:hover {
  background-color: var(--color-light-gray);
  border-color: var(--color-light-gray);
  letter-spacing: normal;
}

.hero__figure {
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem var(--color-primary-70), 0 0 0 1rem var(--color-primary-80), 0 0 0 1.5rem var(--color-primary-90);
  height: 15rem;
  margin: 0;
  overflow: hidden;
  width: 15rem;
}

@media screen and (min-width: 1024px) {
  .hero__figure {
    box-shadow: 0 0 0 1.5rem var(--color-primary-70), 0 0 0 3rem var(--color-primary-80), 0 0 0 4.5rem var(--color-primary-90);
    height: clamp(480px, 55vw, 720px);
    width: clamp(480px, 55vw, 720px);
  }
}
.figure__img {
  object-position: 100% 90%;
}

.hyperlink--navigation {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.0125rem;
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hyperlink--navigation:after {
  content: "̶̶̶̶ ";
  margin-left: 0.5rem;
  vertical-align: -0.075rem;
}

.logo {
  font-size: 1.5rem;
  color: inherit;
  letter-spacing: 0.25rem;
  line-height: 1rem;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  color: inherit;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  text-decoration: none;
  transition: 350ms;
}

.menu__link:hover {
  color: var(--color-light-gray);
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
