#hero__content{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3em 6em;
    margin: 0 auto;
    max-width: 50ch;
}

@media screen and (min-width: 1024px) {
    #hero__content{
        flex-direction: row-reverse;
        max-width: 150ch;
    }
}