.hero__img{
    border-radius: 50%;
    box-shadow: 0 0 0 0.5rem var(--color-primary-70), 
                0 0 0 1rem var(--color-primary-80), 
                0 0 0 1.5rem var(--color-primary-90);
    height: 15em;
    width: 15em;
}

@media screen and (min-width: 1024px) {
    .hero__img{
        box-shadow: 0 0 0 1.5rem var(--color-primary-70), 
                    0 0 0 3rem var(--color-primary-80), 
                    0 0 0 4.5rem var(--color-primary-90);
        display: block;
        height: 35em;
        margin-left: auto;
        width: 35em;
    }
}